[submodule "subs/augur-node"]
	path = subs/augur-node
	url = git@github.com:augur-flex/augur-node.git
[submodule "subs/augur-ui"]
	path = subs/augur-ui
	url = git@github.com:augur-flex/augur-ui.git
[submodule "subs/augur.js"]
	path = subs/augur.js
	url = git@github.com:augur-flex/augur.js.git
[submodule "subs/parity-poa-playground"]
	path = subs/parity-poa-playground
	url = git@github.com:augur-flex/parity-poa-playground.git
