[submodule "subs/augur-core"]
	path = subs/augur-core
	url = git@github.com:augur-flex/augur-core.git
[submodule "subs/augur-node"]
	path = subs/augur-node
	url = git@github.com:augur-flex/augur-node.git
[submodule "subs/augur-ui"]
	path = subs/augur-ui
	url = git@github.com:augur-flex/augur-ui.git
[submodule "subs/augur.js"]
	path = subs/augur.js
	url = git@github.com:augur-flex/augur.js.git
